<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}My Shop{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/frontend/css/bootstrap.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/frontend/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/frontend/js/jquery.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% block navigation %}
        <header>
            {% include '@AppFrontend/navigation.html.twig' %}
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <footer>
        {% include '@AppFrontend/footer.html.twig' %}
    </footer>
    {% endblock %}
</body>
</html>
