<div class="container-fluid bg-dark">
    <div class="container">
        <div class="footer-wrapper py-3 ">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Shop</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Contact</a></li>
            </ul>
            <p class="text-center text-white">© 2023 Company, Inc</p>
        </div>
    </div>
</div>